* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: dimgrey;
    color: ghostwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url('./wallstreet-night.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-gap: 10px;
    grid-template-columns: 3;
    grid-template-rows: 3;
    min-height: 100vh;
}

header::after {
    content:'';
    display: table;
    clear: both;
    height: 100%;
}

li {
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 25px;
    position: relative;
}

nav {
    float: right;
    padding: 5px;
}

nav a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    transition-duration: 0.5s;
}

nav a:hover {
    color:rgb(46, 11, 202);
}

nav a::before {
    content:'';
    display: block;
    height: 5px;    
    width: 100%;
    background-color: royalblue;
    top: 0;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    float: left;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.video {
    padding: 5px;
    width:50%;
    justify-self: center;
    position: relative;
}

.video iframe {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

section{
    font-size: 22px;
    padding: 5px 5px;
    width: 100%;
}

footer {
    display: flex;
    vertical-align: bottom;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.footertext {
    align-self: flex-end;
}

@media only screen and (min-width: 760px) {

    main {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }

    .video iframe {
        justify-self: center;
    }

}  
